/* TODO Add site wide styles */
:root {
    --body-background-color: rgb(212, 212, 212);
    
    --button-text-color: black;
    --button-background-color: rgb(0, 219, 0);
    --button-box-shadow-color: rgb(233, 233, 233);
    --button-background-color-hover: rgb(0, 253, 0);
    --button-box-shadow-color-hover: rgb(194, 194, 194);
    --button-background-color-active: rgb(0, 224, 0);
    --button-box-shadow-color-active: rgb(219, 219, 219);
    --button-background-color-disabled: rgb(0, 170, 0);
    --button-box-shadow-color-disabled: rgb(219, 219, 219);
    
    --icon-color: rgb(0, 230, 0);
    --icon-color-hover: rgb(0, 250, 0);
    
    --div-background-color: white;
    --div-box-shadow-color: rgb(0, 0, 0);
    
    --searchbar-background-color: rgb(196, 196, 196);
    --searchbar-text-color: rgb(0, 0, 0);
    --searchbar-placeholder-color: rgb(119, 119, 119);
    --searchbar-button-color: black;
    
    --text-color-primary: black;
    --text-color-secondary: rgb(61, 61, 61);
    --profile-button-i-color: rgb(0, 0, 0);
    
    --caret-color: black;
    
    --link-text-color: grey;
}

[data-theme='dark'] {
    --body-background-color: rgb(0, 0, 0);
    
    --button-text-color: #70b5f9;
    --button-background-color: none;
    --button-box-shadow-color: #70b5f9;
    --button-background-color-hover: #355677;
    --button-box-shadow-color-hover: #70b8ff;
    --button-background-color-active: #355677;
    --button-box-shadow-color-active: #70b8ff;
    --button-background-color-disabled: #28425c;
    --button-box-shadow-color-disabled: #5c9ad8;
    
    --icon-color: rgb(189, 189, 189);
    --icon-color-hover: white;
    
    --div-background-color: #1d2226;
    --div-box-shadow-color: rgb(100, 100, 100);
    --profile-button-i-color: black;
    
    --searchbar-background-color: #38434f;
    --searchbar-text-color: rgb(255, 255, 255);
    --searchbar-placeholder-color: rgb(158, 158, 158);
    --searchbar-button-color: rgb(255, 255, 255);
    
    --text-color-primary: white;
    --text-color-secondary: rgb(190, 190, 190);
    --profile-button-i-color: #1d2226;
    
    --caret-color: white;
    
    --comment-background-color: #505458;
    
    --link-text-color: rgb(0, 195, 255);
}

[data-theme='blue'] {
    --body-background-color: rgb(0, 1, 54);
    
    --button-text-color: white;
    --button-background-color: rgb(0, 4, 255);
    --button-box-shadow-color: rgb(3, 0, 173);
    
    --button-background-color-hover: rgb(0, 4, 253);
    --button-box-shadow-color-hover: rgb(1, 0, 75);
    
    --button-background-color-active: rgb(0, 3, 202);
    --button-box-shadow-color-active: rgb(0, 1, 85);
    
    --button-background-color-disabled: rgb(0, 2, 139);
    --button-box-shadow-color-disabled: rgb(4, 0, 63);
    
    --icon-color: rgb(189, 189, 189);
    --icon-color-hover: white;
    
    --div-background-color: rgb(8, 0, 124);
    --div-box-shadow-color: rgb(15, 0, 218);
    --profile-button-i-color: rgb(9, 0, 138);
    
    --searchbar-background-color: rgb(0, 13, 202);
    --searchbar-text-color: rgb(255, 255, 255);
    --searchbar-placeholder-color: rgb(138, 138, 138);
    --searchbar-button-color: white;
    
    --text-color-primary: white;
    --text-color-secondary: rgb(204, 204, 204);
    
    --caret-color: white;
    
    --link-text-color: rgb(0, 4, 226);
}

[data-theme='purple'] {
    --body-background-color: rgb(34, 0, 37);
    
    --button-text-color: rgb(0, 0, 0);
    --button-background-color: rgb(0, 214, 214);
    --button-box-shadow-color: rgb(0, 255, 255);
    
    --button-background-color-hover: rgb(0, 211, 211);
    --button-box-shadow-color-hover: rgb(0, 138, 138);
    
    --button-background-color-active: rgb(0, 158, 158);
    --button-box-shadow-color-active: rgb(0, 182, 182);
    
    --button-background-color-disabled: rgb(0, 136, 136);
    --button-box-shadow-color-disabled: rgb(0, 175, 175);
    
    --icon-color: rgb(0, 224, 224);
    --icon-color-hover: rgb(0, 255, 255);
    
    --div-background-color: rgb(101, 0, 148);
    --div-box-shadow-color: rgb(225, 0, 255);
    --profile-button-i-color: rgb(0, 83, 88);
    
    --searchbar-background-color: rgb(128, 0, 202);
    --searchbar-text-color: rgb(255, 255, 255);
    --searchbar-placeholder-color: rgb(75, 0, 124);
    --searchbar-button-color: rgb(0, 255, 255);
    
    --text-color-primary: white;
    --text-color-secondary: rgb(190, 190, 190);
    
    --caret-color: white;
    
    --link-text-color: rgb(0, 4, 226);
}




body {
    margin: 0px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
}





.button-main {
    background-color: var(--button-background-color);
    box-shadow: 0px 0px 1px 1px var(--button-box-shadow-color);
    color: var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button-main:hover {
    background-color: var(--button-background-color-hover);
    box-shadow: 0px 0px 1px 2px var(--button-box-shadow-color-hover);
}

.button-main:active {
    background-color: var(--button-background-color-active);
    box-shadow: 0px 0px 1px 2px var(--button-box-shadow-color-active);
}

.button-main:disabled {
    background-color: var(--button-background-color-disabled);
    box-shadow: 0px 0px 1px 1px var(--button-box-shadow-color-disabled);
    cursor: not-allowed;
}

.link-main {
    color: var(--link-text-color);
    cursor: pointer;
}

.text-primary {
    color: var(--text-color-primary);
}

.text-secondary {
    font-size: 12.5px;
    color: var(--text-color-secondary);
}



::-webkit-scrollbar {
    background: rgb(70, 70, 70);
    width: 12px;
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 100vh;
}
