* {
    font-family: Arial, Helvetica, sans-serif;
}

#login-container {
    width: 450px;
    height: 480px;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 0px 0px 2px 2px rgb(102, 102, 102);
    background: linear-gradient(#dadada, #a0a0a0);
    border-radius: 2px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-error-span {
    color: red;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -10px;
    text-align: left;
}

#form-input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-h1 {
    width: 160px;
    height: 50px;
    margin-bottom: -15px;
    text-decoration: underline;
}

#login-info {
    width: 350px;
    text-align: left;
    font-size: 17px;
    border-bottom: 1px solid rgb(99, 99, 99);
}

.login-label {
    font-size: 14px;
    text-align: left;
    font-weight: 550;
}

#login-button {
    margin-top: 20px;
}

.login-input {
    border: 2px solid black;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    outline: none;
}

.login-button {
    margin-top: 10px;
    height: 30px;
    background-color: rgb(221, 221, 221);
    box-shadow: 1px 2px 2px 2px rgb(65, 65, 65);
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 2px 2px 3px rgb(41, 41, 41);
}

.login-button:active {
    background-color: rgb(214, 214, 214);
    box-shadow: 1px 1px 2px 2px rgb(80, 80, 80);
}

.login-button:disabled {
    background-color: rgb(197, 197, 197);
    box-shadow: 1px 1px 2px 2px rgb(95, 95, 95);
    cursor: not-allowed;
}

#login-signup-button {
    margin-top: 80px;
    font-size: 16px;
    font-weight: 700;
    color: blue;
    border: none;
    box-shadow: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
