body {
  margin: 0px;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0px;
}

.hidden {
  display: none;
}

#navigation-logo-search-div {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  gap: 85px;
}

#searchbar-input-div {
  margin-left: -30px;
  width: 40%;
}

#searchbar-input {
  width: 100%;
  height: 35px;
  border: none;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  margin-left: -5px;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  color: black;
  cursor: text;
  transition: background-color 300ms;
}

#searchbar-input::placeholder {
  color: rgb(117, 117, 117);
}


#navigation-container {
  width: 100%;
  height: 50px;
  background-color: white;
  margin: auto;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navigation-logo {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}

#navigation-button-bar-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation-button {
  border: none;
  background: none;
}

.fa-house, .fa-bell, .fa-briefcase, .fa-users, .fa-comment-dots {
  font-size: 24px;
  color: rgb(170, 170, 170);
  cursor: pointer;
  transition: font-size 100ms, margin-left 100ms, margin-right 100ms; 
}

.fa-house:hover, .fa-bell:hover, .fa-briefcase:hover, .fa-users:hover, .fa-comment-dots:hover {
  color: rgb(0, 201, 0);
  margin-left: -3px;
  margin-right: -4px;
  font-size: 30px;
}

#profile-dropdown-div {
  width: 100%;
}

#profile-dropdown-button {
  height: 35px;
  width: 80px;
  border: none;
  background: linear-gradient(#00e91f, #00a008);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

#profile-dropdown-button:hover {
  background: linear-gradient(#00f320, #00ca0a);
}

#profile-dropdown-button:active {
  background: linear-gradient(#00d11c, #007206);
}


#profile-dropdown-button > i {
    color: rgb(226, 226, 226);
    font-size: 24px;
}

#profile-dropdown-button > span {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  color: white;
}

#profile-dropdown-container {
  width: 220px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 1px rgb(196, 196, 196);
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
}

#profile-dropdown-button-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 3px;
}

.profile-dropdown-p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: rgb(107, 107, 107);
  cursor: default;
}

.user-dropdown-button {
  font-weight: 700;
  font-size: 15px;
  width: 160px;
  margin: auto;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 1px 2px rgb(151, 151, 151);
  border: none;
  border-radius: 10px;
  margin-bottom: 2px;
  color: rgb(107, 107, 107);
  cursor: pointer;
}

.user-dropdown-button:hover {
  background-color: white;
}

.user-dropdown-button:active {
  background-color: rgb(221, 221, 221);
}

#search-button-submit {
    margin-left: -27px;
    height: 26px;
    width: 26px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.create-job-listing-button {
    margin-right: 20px;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgb(160, 160, 160);
    background: linear-gradient(#fffefe, #7c7c7c);
    box-shadow: 0px 1px 4px 2px rgb(78, 78, 78);
    color: blue;
    cursor: pointer;
}

.create-job-listing-button:hover {
    background: linear-gradient(#ffffff, #868686);
    box-shadow: 0px 1px 4px 2px rgb(26, 26, 26);
}

.create-job-listing-button:active {
    background: linear-gradient(#d6d6d6, #5f5f5f);
    box-shadow: -1px -2px 6px 4px rgb(247, 247, 247);
}


@media (max-width: 700px) {
  #searchbar-input-div {
      display: none;
  }
}

@media (max-width: 700px) {
  #navigation-logo-search-div {
    justify-content: space-around;
    gap: 0px;
  }
}
