.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0px;
}

.hidden {
  display: none;
}

#navigation-container {
  width: 100%;
  height: 50px;
  background-color: var(--div-background-color);
  margin: auto;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

#navigation-logo {
  width: 35px;
  height: 34px;
  filter: invert(100%);
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#searchbar-container {
  width: 280px;
  border: none;
  background-color: var(--searchbar-background-color);
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#search-button-submit {
  height: 90%;
  width: 26px;
  font-size: 14px;
  border-radius: 5px;
  color: var(--searchbar-button-color);
  border: none;
  background: none;
  cursor: pointer;
}

#searchbar-input-div {
  width: auto;
  height: 35px;
  display: flex;
}

#searchbar-input {
  width: 240px;
  height: 90%;
  font-weight: 700;
  font-size: 15px;
  border: none;
  background: none;
  outline: none;
  color: var(--searchbar-text-color);
  transition: background-color 300ms;
}

#searchbar-input::placeholder {
  color: var(--searchbar-placeholder-color);
}

#navigation-button-bar-div {
  margin: auto;
  margin-left: 85px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  color: var(--icon-color);
  cursor: pointer;
}
.navigation-button-div:hover {
  color: var(--icon-color-hover);
}

.navigation-button-div > span {
  font-size: 11px;
  font-weight: 500;
}

.navigation-button {
  border: none;
  background: none;
}

.fa-house, .fa-bell, .fa-briefcase, .fa-users, .fa-comment-dots {
  font-size: 20px;
  color: var(--icon-color);
  cursor: pointer;
}

.fa-house:hover, .fa-bell:hover, .fa-briefcase:hover, .fa-users:hover, .fa-comment-dots:hover {
  color: var(--icon-color-hover);
}

#profile-dropdown-div {
  width: 100%;
}

#profile-dropdown-button {
  height: 35px;
  width: 80px;
  border: none;
  background-color: var(--icon-color);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

#profile-dropdown-button > i {
    color: var(--profile-button-i-color);
    font-size: 24px;
}

#profile-dropdown-button > span {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  color: white;
}

#profile-dropdown-container {
  width: 220px;
  height: auto;
  background-color: var(--div-background-color);
  box-shadow: 0px 0px 1px 1px var(--div-box-shadow-color);
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
}

#profile-dropdown-button-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 3px;
}

.profile-dropdown-p {
  text-align: center;
  cursor: default;
}

.user-dropdown-button {
  width: 160px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 2px;
}

.user-dropdown-button:hover {
  background-color: white;
}

.user-dropdown-button:active {
  background-color: rgb(221, 221, 221);
}

.create-job-listing-button {
    margin-right: 20px;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgb(160, 160, 160);
    background: linear-gradient(#fffefe, #7c7c7c);
    box-shadow: 0px 1px 4px 2px rgb(78, 78, 78);
    color: blue;
    cursor: pointer;
}

.create-job-listing-button:hover {
    background: linear-gradient(#ffffff, #868686);
    box-shadow: 0px 1px 4px 2px rgb(26, 26, 26);
}

.create-job-listing-button:active {
    background: linear-gradient(#d6d6d6, #5f5f5f);
    box-shadow: -1px -2px 6px 4px rgb(247, 247, 247);
}


@media (max-width: 700px) {
  #searchbar-input-div {
      display: none;
  }
  
  #navigation-logo-search-div {
    justify-content: space-between;
    gap: 5px;
  }
}

@media (max-width: 660px) {
  #navigation-logo-search-div {
    justify-content: left;
    gap: 25%;
  }
}

@media (max-width: 445px) {
  #navigation-logo-search-div {
    justify-content: left;
    gap: 12%;
  }
}

@media (max-width: 390px) {
  #navigation-container {
    width: 100%;
  }
  
  #navigation-logo-search-div {
    justify-content: left;
    gap: 5%;
  }
}
