#feed-container {
    margin: auto;
    padding-top: 5px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--body-background-color);
}

#feed-content-container {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

#feed-user-profile-data {
    height: fit-content;
    width: 20%;
    max-width: 220px;
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 1px 1px var(--div-box-shadow-color);
    color: var(--text-color-primary);
    border-radius: 10px;
}

#feed-posts-container {
    display: flex;
    flex-direction: column;
    width: 38%;
    max-width: 550px;
    gap: 10px;
    padding-bottom: 50px;
}

#feed-footer-div {
    height: 35px;
    width: 100%;
    background-color: var(--div-background-color);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0.85;
    transition: height 200ms;
}

#feed-footer-div:hover {
    height: 40px;
    opacity: 1.0;
}

.theme-change-button {
    background: none;
    border: none;
}

.fa-github, .fa-linkedin, .fa-info-circle, .fa-tachometer {
    font-size: 25px;
    color: var(--icon-color);
    transition: font-size 200ms;
}

.fa-github:hover, .fa-linkedin:hover, .fa-info-circle:hover, .fa-tachometer:hover {
    font-size: 35px;
}
