body {
    background-color: rgb(241, 241, 241);
}

#feed-container {
    margin: auto;
    width: 100%;
    height: auto;
}

#feed-content-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#feed-user-profile-data {
    height: 500px;
    width: 200px;
    background-color: grey;
    margin-left: 80px;
}

#feed-posts-container {
    width: 340px;
    height: 900px;
    background-color: grey;
}

#feed-news-container {
    width: 200px;
    height: 500px;
    margin-right: 80px;
    background-color: grey;
}



#feed-footer-div {
    height: 35px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0.8;
    transition: height 200ms;
}

#feed-footer-div:hover {
    height: 40px;
}

.fa-github, .fa-linkedin, .fa-info-circle {
    font-size: 25px;
    color: blue;
    transition: font-size 200ms;
}

.fa-github:hover, .fa-linkedin:hover, .fa-info-circle:hover {
    font-size: 35px;
}

.footer-p {
    color: blue;
    text-decoration: none;
}

.footer-p:visited {
    color: blue;
}


@media screen and (max-height: 1080px) {
    body {
        padding-bottom: 50px;
    }
}

@media (max-width: 905px) {
    #feed-news-container {
        display: none;
    }
    
    #feed-content-container {
        justify-content: left;
        gap: 20px;
    }
}

@media (max-width: 615px) {
    #feed-user-profile-data {
        display: none;
    }
    
    #feed-content-container {
        justify-content: center;
    }
}
