#feed-container {
    margin: auto;
    padding-top: 5px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--body-background-color);
}

#feed-content-container {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

#feed-user-profile-data {
    display: sticky;
    height: fit-content;
    padding: 5px;
    width: 20%;
    max-width: 220px;
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 1px 1px var(--div-box-shadow-color);
    color: var(--text-color-primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feed-user-profile-data > img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
}

#feed-user-profile-data > p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 100%;
}

#feed-user-profile-data > p + p {
    margin-top: -2px;
}

#feed-user-profile-skills-div {
    width: 95%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    gap: 5px;
}

.feed-skill-p {
    margin-top: -10px;
}

.feed-news-text {
    font-size: 12px;
    font-weight: 900;
    margin-left: 5px;
}

.feed-news-title {
    font-size: 12px;
    margin-top: -10px;
    margin-left: 20px;
    width: 85%;
}


#feed-user-connections-div {
    position: static;
}


#feed-posts-container {
    display: flex;
    flex-direction: column;
    width: 38%;
    max-width: 550px;
    gap: 10px;
    padding-bottom: 50px;
}

#feed-posts-container > button {
    width: 120px;
    height: 25px;
    margin: auto;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
}

.feed-post-container {
    width: 100%;
    height: auto;
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 1px 1px var(--div-box-shadow-color);
    border-radius: 10px;
}

.feed-post-top-div {
    display: flex;
}

.feed-post-top-div > img {
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.feed-post-top-right-div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 15px;
}

.feed-post-top-right-p {
    margin: 0px;
}

.feed-post-image-preview-navlink {
    width: 100%;
}

.feed-post-image-container {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
}

.feed-post-image-preview {
    position: relative;
    width: 95%;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    margin-left: 1px;
    border: 2px solid black;
    cursor: pointer;
}

.feed-post-image-sidebar {
    height: auto;
    max-height: 204px;
    overflow-y: auto;
    max-width: 100px;
    margin-right: 10px;
}

.feed-post-sidebar-image {
    width: 90%;
    max-width: 90px;
    height: 30%;
    border: 2px solid black;
    cursor: pointer;
}



.feed-post-text-div {
    width: 100%;
    height: auto;
    margin-left: 5px;
    width: 98%;
}

#feed-news-container {
    width: 28%;
    max-width: 280px;
    height: fit-content;
    margin-right: 20px;
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 1px 1px var(--div-box-shadow-color);
    border-radius: 10px;
}

#feed-news-div {
    height: auto;
}


.news-article-div {
    padding: 10px;
}

#news-article-top-div {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#news-article-top-div > img {
    width: 100%;
    height: 200px;
    border: 1px solid rgb(100, 100, 100);
}

#news-article-top-div > h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.news-article-div > h4 {
    margin-top: 5px;
    font-size: 15px;
}

#feed-news-button {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}


#feed-footer-div {
    height: 35px;
    width: 100%;
    background-color: var(--div-background-color);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0.85;
    transition: height 200ms;
}

#feed-footer-div:hover {
    height: 40px;
    opacity: 1.0;
}

.fa-github, .fa-linkedin, .fa-info-circle {
    font-size: 25px;
    color: var(--button-background-color);
    transition: font-size 200ms;
}

.fa-github:hover, .fa-linkedin:hover, .fa-info-circle:hover {
    font-size: 35px;
}


@media screen and (max-height: 1080px) {
    body {
        padding-bottom: 50px;
    }
}

@media (max-width: 905px) {
    #feed-news-container {
        display: none;
    }
    
    
    
    #feed-content-container {
        justify-content: left;
        gap: 20px;
        
    }
}

@media (max-width: 660px) {
    #feed-container {
        width: 90%;
    }
    
    #feed-content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: none;
    }
    
    #feed-user-profile-data {
        width: 350px;
        height: auto;
        margin: auto;
    }
    
    #feed-user-profile-button {
        margin-left: 270px;
    }
    
    #feed-news-container {
        display: none;
    }
}

@media (max-width: 430px) {
    #feed-user-profile-data {
        width: 100%;
    }
}
