.info-modal-button {
    background: none;
    border: none;
}

.info-modal-button {
    border: none;
    background: none;
}

#info-modal-container {
    width: 450px;
    height: auto;
    background-color: rgb(240, 240, 240);
    border: 5px solid rgb(59, 59, 59);
    text-align: left;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#info-modal-h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 0px;
    text-decoration: underline;
    text-align: center;
    color: rgb(88, 88, 88);
}

#info-modal-container > p {
    font-weight: 700;
    color: rgb(88, 88, 88);
}

#info-modal-navlink {
    width: fit-content;
    color: rgb(0, 0, 255);
    font-weight: 700;
}

.info-modal-button-close {
    width: 120px;
    height: 30px;
    margin: auto;
    margin-top: 60px;
    border: none;
    background: none;
    box-shadow: 0px 0px 2px 1px rgb(151, 151, 151);
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.info-modal-button-close:hover {
    background-color: white;
}

.info-modal-button-close:active {
    background-color: rgb(226, 226, 226);
}
