* {
    font-family: Arial, Helvetica, sans-serif;
}

#signup-container {
    width: 450px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-h1 {
    width: 160px;
    height: 50px;
    margin-bottom: -15px;
    text-decoration: underline;
}

#signup-info {
    width: 350px;
    text-align: left;
    font-size: 17px;
    border-bottom: 1px solid rgb(99, 99, 99);
}

.signup-errors-ul {
    text-align: left;
    color: red;
    font-size: 14px;
    font-weight: 700;
    margin-top: -5px;
}

#signup-form-input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#signup-name-div {
    display: flex;
    gap: 5px;
}

.signup-label {
    font-size: 14px;
    text-align: left;
    font-weight: 550;
}

.signup-button {
    margin-top: 10px;
    height: 30px;
    width: 180px;
    margin-left: 25%;
    background-color: rgb(221, 221, 221);
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(119, 119, 119);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.signup-button:hover {
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 1px 2px 3px rgb(107, 107, 107);
}

.signup-button:disabled {
    background-color: rgb(184, 184, 184);
    box-shadow: 1px 1px 2px 2px rgb(119, 119, 119);
    cursor: not-allowed;
}

.signup-back-button {
    margin-top: 190px;
    margin-left: -30px;
    margin-bottom: 10px;
    height: 20px;
    width: 80px;
    background-color: rgb(221, 221, 221);
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(119, 119, 119);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
