#create-post-modal-container {
    width: 700px;
    height: auto;
    padding-bottom: 20px;
    background: linear-gradient(#c9c9c9, #6b6b6b);
    border: 3px solid black;
    text-align: center;
    color: black;
}

#create-post-container {
    height: auto;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.create-post-errors {
    color: red;
    font-weight: 700;
    font-size: 18px;
}

.create-post-title {
    width: 320px;
    font-weight: 700;
    font-size: 14px;
}

.create-post-textarea {
    width: 380px;
    height: 100px;
    resize: none;
    outline: none;
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
}

#create-post-image-div {
    display: flex;
    gap: 5px;
}

.create-post-image {
    width: 200px;
    height: 200px;
}

.create-post-image-input {
    width: 200px;
    height: 200px;
    text-indent: 16px;
    background-color: rgb(95, 95, 95);
    border: 2px dashed rgb(230, 230, 230);
    border-radius: 15px;
    color: rgb(250, 0, 0);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.create-post-remove-image-button {
    position: absolute;
    margin-left: 160px;
    margin-top: 15px;
    background-color: red;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    opacity: 0.6;
}

.remove-button2 {
    margin-left: 365px;
}

.remove-button3 {
    margin-left: 570px;
}

.create-post-remove-image-button:hover {
    opacity: 0.8;
}

.create-post-remove-image-button:active {
    opacity: 0.5;
}

#create-post-buttons-div {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.create-post-button {
    border: 1px solid rgb(160, 160, 160);
    background: linear-gradient(#d4d4d4, #575757);
    box-shadow: 0px 0px 4px 2px rgb(75, 75, 75);
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    width: 180px;
    cursor: pointer;
}

.create-post-button:hover {
    color: rgb(25, 0, 255);
    background: linear-gradient(#ffffff, #808080);
    box-shadow: 0px 0px 4px 2px rgb(31, 31, 31);
}

.create-post-button:active {
    color: rgb(25, 0, 255);
    background: linear-gradient(#adadad, #444444);
    box-shadow: 0px -1px 2px 1px rgb(209, 209, 209);
}

.create-post-button:disabled {
    background: linear-gradient(#adadad, #444444);
    box-shadow: 0px -1px 2px 1px rgb(209, 209, 209);
    cursor: not-allowed;
}
