.profile-post-div-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 2px 2px var(--div-box-shadow-color);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}


.post-title-bar-div {
    width: 100%;
}

.profile-post-text-container {
    margin-left: 15px;
}

.post-ellipsis-button {
    border: none;
    background: none;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--button-background-color);
    cursor: pointer;
}

.fa-ellipsis-h {
    font-size: 22px;
    color: var(--icon-color);
}
.fa-ellipsis-h:hover {
    color: var(--icon-color-hover);
}

.profile-post-text-area {
    inline-size: 96%;
    overflow-wrap: break-word;
    height: fit-content;
    margin-bottom: 20px;
}

.post-title-edit-input {
    width: 90%;
    height: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(145, 145, 145);
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
}

.post-images-container {
    display: flex;
    margin-top: 20px;
}

.post-image-preview {
    min-width: 70%;
    max-width: 70%;
    margin-left: 15px;
    max-height: 250px;
    margin-bottom: -5px;
}

.post-slide-image {
    width: 80%;
    max-height: 33%;
    margin-left: 10px;
    cursor: pointer;
}

.update-post-image-upload {
    width: 77%;
    height: 33%;
    max-height: 33%;
    margin-bottom: 5px;
    margin-left: 10px;
    text-indent: 16px;
    background-color: rgb(136, 136, 136);
    border: 2px dashed rgb(39, 39, 39);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.post-image-slide-bar {
    overflow-y: auto;
    height: 250px;
    width: 26%
}

.post-image-slide-bar::-webkit-scrollbar {
    border-radius: 100vh;
    width: 10px;
}

.post-text-edit-input {
    width: 97%;
    min-height: 110px;
    margin-bottom: 15px;
    margin-top: 15px;
    outline: none;
    border: none;
    resize: none;
    box-shadow: 0px 0px 2px 2px rgb(145, 145, 145);
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
}

.post-title-error-p {
    margin: 0px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: -10px;
    font-weight: 700;
    font-size: 14px;
    color: red;
}

.post-text-error-p {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-weight: 700;
    font-size: 14px;
    color: red;
}

.post-edit-buttons-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.post-paper-plane {
    font-size: 20px;
    margin-top: 5px;
    color: var(--icon-color);
}
.post-paper-plane:hover {
    color: var(--icon-color-hover);
}

.post-delete-button {
    margin-right: 10px;
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}

.fa-trash {
    font-size: 18px;
}
