* {
    font-family: Arial, Helvetica, sans-serif;
}

#user-profile-container {
    margin: auto;
    margin-top: 30px;
    width: 35%;
    height: 900px;
}

#user-profile-top-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(59, 59, 59);
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 2px 2px rgb(223, 223, 223);
    padding-bottom: 20px;
}

#user-profile-top-div > img {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}

#user-profile-top-button {
    position: absolute;
    margin-left: 350px;
    margin-top: 10px;
    border: none;
    background: none;
    font-size: 18px;
    color: rgb(180, 180, 180);
    cursor: pointer;
}

#user-profile-top-button:hover {
    color: rgb(0, 216, 0);
}

#user-profile-top-div > h4 {
    margin-top: 0px;
}


#user-profile-skills-div {
    height: auto;
    width: 50%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
}

#user-profile-skills-div > p {
    font-weight: 700;
    font-size: 12.5px;
    margin: 0px;
}

#user-profile-info-container {
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 2px 2px rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
}

#user-profile-info-container > h4 {
    text-align: center;
    color: rgb(77, 77, 77);
}

#user-profile-info-div {
    margin-left: 15px;
    padding-bottom: 20px;
}

#user-profile-info-div > p {
    margin-top: 0px;
    margin-bottom: 5px;
    color: rgb(77, 77, 77);
}

#user-profile-info-div > p > span {
    font-weight: 700;
    font-size: 14px;
    color: rgb(34, 34, 34);
}






::file-selector-button {
    display: none;
}
