* {
    font-family: Arial, Helvetica, sans-serif;
}

#user-profile-container {
    margin: auto;
    margin-top: 10px;
    width: 1024px;
    height: auto;
}

#user-profile-content-container {
    display: flex;
}

.user-profile-container {
    height: 900px;
    height: auto;
    margin: auto;
    box-shadow: 0px 0px 2px 2px black;
    background: linear-gradient(#c4c4c4, #868686);
}

#user-profile-bio {
    width: 794px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user-profile-update-button {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.user-profile-p {
    font-size: 18px;
    flex: auto;
}

#user-profile-bio-container {
   
}

#user-profile-edit-name-div {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: -10px;
}

.user-profile-edit-age-p {
    margin-top: 12px;
    margin-bottom: 1px;
}
.user-profile-bio-p {
    color: red;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}

.user-profile-bio-input {
    width: 150px;
}

#user-profile-bio-div {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}

#user-profile-picture {
    height: 220px;
    width: 220px;
    border-radius: 120px;
    box-shadow: 0px 0px 2px 2px rgb(97, 97, 97);
    cursor: pointer;
}

#user-profile-bottom-div {
    display: flex;
    margin-top: 5px;
}

#user-profile-qualifications {
    width: 220px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
    margin-right: -10px;
}

.user-profile-qualification {
    margin-bottom: 50px;
}

.user-qualifications-p {
    font-weight: 700;
    text-decoration: underline;
}

#user-profile-posts-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 797px;
    gap: 10px;
}

.profile-post-div-container{
    max-height: 400px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
}

.profile-post-h2 {
    margin-left: 20px;
    color: black;
}

.profile-post-img-container {
    display: flex;
    flex-wrap: none;
}

.profile-post-img {
    min-height: 100px;
    min-width: 125px;
    max-height: 200px;
    max-width: 225px;
    flex: 25%;
}

.profile-post-text-container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

#profile-picture-edit-text {
    position:fixed;
    margin-left: 45px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    pointer-events: none;
}




#profile-picture-modal-container {
    background-color: rgb(48, 48, 48);
    width: 500px;
    height: auto;
    text-align: center;
}

#profile-picture-modal-img {
    height: 250px;
    width: 250px;
    border-radius: 120px;
}

#profile-picture-modal-remove {
    position: absolute;
    margin-left: -70px;
    margin-top: 40px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(224, 1, 1);
    border: 2px solid black;
    opacity: 0.8
}


#upload-img-input {
    width: 250px;
    height: 250px;
    text-indent: 16px;
    background-color: rgb(54, 54, 54);
    border: 2px dashed rgb(85, 85, 85);
    color: rgb(250, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#picture-loading-message {
    position: absolute;
    margin-top: -140px;
    margin-left: 210px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

::file-selector-button {
    display: none;
}
