#messagebox-container {
    height: auto;
    width: 295px;
    background-color: var(--div-background-color-secondary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#messagebox-container:hover {
    background-color: var(--div-background-color-secondary-hover);
    cursor: pointer;
}

#messagebox-user-data {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#messagebox-user-data-left {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    color: var(--text-color-primary);
}

#messagebox-user-data-right {
    margin-right: 10px;
    margin-top: 5px;
}

.messagebox-user-data-button {
    background: none;
    border: none;
    color: var(--text-color-primary);
    pointer-events: all;
}
.messagebox-icon {
    font-size: 18px;
    padding: 5px;
    margin: -4px;
    border-radius: 15px;
}
.messagebox-icon:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
}

#messagebox-user-image {
    height: 32px;
    width: 32px;
}

.messagebox-instance {
    height: 50px;
    width: 100%;
    margin: auto;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color-primary);
    background-color: var(--div-background-color-secondary-hover);
}
.messagebox-instance:hover {
    background-color: var(--div-background-color);
}

.messagebox-instance-img {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.messagebox-instance-name-p {
    font-size: 14px;
    margin-bottom: 0px;
}

.messagebox-instance-text-p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px;
}

.hidden {
    display: none;
}
